@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  font-size: 62.1%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
textarea,
button {
  font-size: 1.6rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  grid-area: header;
  background-color: rgb(63, 57, 54);
  color: white;
  display: flex;

  align-items: center;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 2.1rem;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: rgb(63, 57, 54);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: orange;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 9 60;
}

/*product*/

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 1 1 25rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  width: 27rem;
  flex-direction: column;

  justify-content: space-between;
  height: 100%;
}
.product a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 37rem;
  max-height: 37rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}
.product-price div {
  font-size: 2rem;
}
button {
  padding: 1rem;
  border: 0.1rem rgb(214, 208, 208) solid;
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 0.4rem;
}
a {
  text-decoration: none;
  color: black;
}

.button-primary {
  background-color: rgb(199, 159, 26);
  font-size: large;
}
.button-primary:hover {
  border: 0.1rem rgb(85, 82, 82) solid;
}
/*filter*/

.filter {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem rgb(216, 211, 211) solid;
}
.filter div {
  flex: 1;
}

/*cart items */

.cart {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
}
.cart-header {
  border-bottom: 0.1rem rgb(216, 211, 211) solid;
}
.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 5rem;
}
.cart-items li {
  display: flex;
}
.cart-items li div {
  padding: 0.5rem;
}
.cart-items li div:last-child {
  flex: 1;
}
.cart-items li div button {
  padding: 0.1rem;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.total button {
  background-color: rgb(199, 159, 26);
  font-size: medium;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.total > div,
.total > button {
  flex: 1;
}
.total > div {
  font-size: 2rem;
}
/*checkout form*/
form {
  width: 100%;
}
.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.form-container li input {
  padding: 0.9rem;
  border: 0.1rem rgb(194, 189, 189) solid;
}
.form-container button {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
